body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../assets/Backdrop.jpg') no-repeat center/cover;
    color: #ffffff;
    height: 100%;
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  h1 {
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  
  p {
    margin-bottom: 2rem;
    color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  select{
    width: 106%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }

  input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #ff3b2e;
    color: white;
    padding: 0.8rem 2rem;
    border: 3px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f10430;
  }
  
  .uiEstimatedPrice {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
  }
  